altair
appdirs
attrs
bcrypt
beautifulsoup4
blinker
bs4
cachetools
certifi
cffi
charset-normalizer
click
colorama
cryptography
cssselect
fake-useragent
feedparser
finance-datareader
frozendict
gitdb
GitPython
html5lib
idna
importlib-metadata
Jinja2
jsonschema
jsonschema-specifications
lxml
markdown-it-py
MarkupSafe
mdurl
multitasking
numpy
packaging
pandas
pandas_ta
parse
peewee
pillow
plotly
protobuf
pyarrow
pycparser
pydeck
pyee
Pygments
pyppeteer
pyquery
python-dateutil
python-decouple
pytz
PyYAML
referencing
requests
requests-file
requests-html
rich
rpds-py
sgmllib3k
six
smmap
soupsieve
streamlit
streamlit-aggrid==0.3.4.post3
streamlit-js-eval
streamlit-lightweight-charts
streamlit-lightweight-charts-ntf
tenacity
toml
toolz
tornado
tqdm
typing_extensions
tzdata
tzlocal
urllib3
validators
w3lib
watchdog
webencodings
websockets
yfinance
zipp
